@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-background: #e3e6e6;
  --nav-background: #121821;
  --searchbox-color: #febd69;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
}

.container {
  height: 100%;
  width: 100%;
}